<div id="<%= dom_id goal %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= goal.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= goal.description %>
  </p>

</div>
